<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./index.js"></script>
    <script src="https://kit.fontawesome.com/cb955ac30f.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all"  
      href="/css/admin_dashboard.css" th:href="@{/css/admin_dashboard.css}" />
    <title>Admin</title>
</head>
<body>
    <div class="nav">
        <img class="logo" src="./assets/images/logo (1).png">
        <ul class="nav-ul">
            <li class="selected-item"><i class="fa-solid fa-house"></i></li>
            <li><i class="fa-solid fa-network-wired"></i></li>
            <li><i class="fa-regular fa-user"></i></li>
            <li><i class="fa-solid fa-book"></i></li>
        </ul>

    </div>
    <div class="main">
        <div class="sec1">
            <h3>Admin Dashboard</h3>
            <input class="form-control" type="text" placeholder="Search" aria-label="search">
            <i class="fa-solid fa-bell"></i>
        </div>
        <div class="sec2">
            <h4>Newly Added Books</h4>
            <hr class="divider-colored">
            <ul>
                <li>
                    <div class="new-book">
                    <div class="book-left">
                        <img src="./assets/images/PngItem_2722328.png">
                        <p>#1100201</p>
                    </div>
                    <div class="divider"></div>
                    <div class="book-right">
                        <h5>The Six of Crows</h5>
                        <p>Leigh Bardugo</p>
                        <p>4.7 Rating</p>
                        <p>Qty: 4</p>
                    </div>
                    </div>
                </li>
                <li>  <div class="new-book">
                    <div class="book-left">
                        <img src="./assets/images/PngItem_2722328.png">
                        <p>#1100201</p>
                    </div>
                    <div class="divider"></div>
                    <div class="book-right">
                        <h5>The Six of Crows</h5>
                        <p>Leigh Bardugo</p>
                        <p>4.7 Rating</p>
                        <p>Qty: 4</p>
                    </div>
                    </div></li>
                <li>  <div class="new-book">
                    <div class="book-left">
                        <img src="./assets/images/PngItem_2722328.png">
                        <p>#1100201</p>
                    </div>
                    <div class="divider"></div>
                    <div class="book-right">
                        <h5>The Six of Crows</h5>
                        <p>Leigh Bardugo</p>
                        <p>4.7 Rating</p>
                        <p>Qty: 4</p>
                    </div>
                    </div></li>
            </ul>
        </div>
        <div class="sec3">
            
        </div>
    </div>
    
</body>
</html>