<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./index.js"></script>
    <script src="https://kit.fontawesome.com/cb955ac30f.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <!--   <link rel="stylesheet" type="text/css" media="all"  
      href="/css/admin_dashboard.css" th:href="@{/css/admin_dashboard.css}" /> -->
      <style>
      
      @import
	url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap')
	;

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	display: flex;
}
/* Navbar */
.nav img {
	max-height: 100px;
	max-width: 100px;
}

.nav-ul {
	list-style: none;
	padding-left: 0px;
}

li {
	color: #fff;
	margin: 60px 0;
	font-size: 1.2em;
	font-weight: 400;
	padding: 8px;
}

.selected-item {
	background-color: #7888AC;
	border-radius: 50%;
	padding: 8px;
	color: #FFC3AA;
}

.nav {
	margin: 0;
	height: 100vh;
	background: #243763;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

.main {
	margin: auto 20px;
	height: 100vh;
	width: 100%;
	background: #fff;
}

.sec1 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 20px;
}

.sec1 input {
	width: 30%;
}

.sec2 {
	width: 80%;
	min-height: 250px;
	margin: auto;
	padding: 20px;
	margin-top: 5%;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sec2 h4 {
	color: #FF6E31;
}

.sec2 ul {
	list-style: none;
	display: flex;
	height: 200px;
	align-items: center;
	justify-content: start;
	padding: 0;
}

.sec ul li {
	background-color: #243763;
}

.new-book {
	width: 100%;
	height: 200%;
	background: #FFEBB7;
	filter: drop-shadow(0px 4px 15px rgba(63, 63, 63, 0.2));
	color: #000;
	padding: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.new-book h5 {
	font-size: 1em;
}

.new-book p {
	font-size: 0.7em;
}

.new-book .book-left img {
	height: 80px;
	width: 100%;
}

.new-book .book-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: 40px;
}

.new-book .book-left p {
	padding-top: 8px;
	color: #243763;
	font-size: 0.6em;
	margin: 0;
}

.divider {
	border-right: 1px solid grey;
	height: 100px;
}

.new-book .book-right p {
	margin: 3px;
}

.new-book .book-right {
	padding-left: 30px;
}

.divider-colored {
	color: #FF6E31;
	width: 200px;
}
      </style>
    <title>Admin</title>
</head>
<body>
    <div class="nav">
        <img class="logo" src="C:\Users\KAMILA\Desktop\Library-management-system\src\main\resources\static\assets\logo (1).png">
        <ul class="nav-ul">
            <li class="selected-item"><i class="fa-solid fa-house"></i></li>
            <li><i class="fa-solid fa-network-wired"></i></li>
            <li><i class="fa-regular fa-user"></i></li>
            <li><i class="fa-solid fa-book"></i></li>
        </ul>

    </div>
    <div class="main">
        <div class="sec1">
            <h3>Admin Dashboard</h3>
            <input class="form-control" type="text" placeholder="Search" aria-label="search">
            <i class="fa-solid fa-bell"></i>
        </div>
        <div class="sec2">
            <h4>Newly Added Books</h4>
            <hr class="divider-colored">
            <ul>
                <li>
                    <div class="new-book">
                    <div class="book-left">
                        <img th:src="@{../assets/PngItem_2722328.png}">
                        <p>#1100201</p>
                    </div>
                    <div class="divider"></div>
                    <div class="book-right">
                        <h5>The Six of Crows</h5>
                        <p>Leigh Bardugo</p>
                        <p>4.7 Rating</p>
                        <p>Qty: 4</p>
                    </div>
                    </div>
                </li>
                <li>  <div class="new-book">
                    <div class="book-left">
                        <img src="./assets/images/PngItem_2722328.png">
                        <p>#1100201</p>
                    </div>
                    <div class="divider"></div>
                    <div class="book-right">
                        <h5>The Six of Crows</h5>
                        <p>Leigh Bardugo</p>
                        <p>4.7 Rating</p>
                        <p>Qty: 4</p>
                    </div>
                    </div></li>
                <li>  <div class="new-book">
                    <div class="book-left">
                        <img src="./assets/images/PngItem_2722328.png">
                        <p>#1100201</p>
                    </div>
                    <div class="divider"></div>
                    <div class="book-right">
                        <h5>The Six of Crows</h5>
                        <p>Leigh Bardugo</p>
                        <p>4.7 Rating</p>
                        <p>Qty: 4</p>
                    </div>
                    </div></li>
            </ul>
        </div>
        <div class="sec3">
            
        </div>
    </div>
    
</body>
</html>