<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>All Books</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<!-- <link rel="stylesheet" type="text/css" media="all"  
      href="/css/admin_dashboard.css" th:href="@{/css/admin_dashboard.css}" /> -->
</head>
<body>
	<!-- <div th:insert="fragments/header :: header"></div> -->
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${books}" class="container my-5">
					<p class="my-5">
						<a href="/api/add" class="btn btn-primary"> 
						<i class="fas fa-user-plus ml-2">  Add Book </i></a>
						<a href="/api/search" class="btn btn-primary"> 
						<i class="fa fa-search ml-2">  Search Book </i></a>
					</p>
					<div class="col-md-12">
						<h2 th:case="null">No record found !!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>ISBN </th>
										<th>Title</th>
										<th>Detail</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="book : ${books}">
										<td th:text="${book.isbn}"></td>
										<td th:text="${book.title}"></td>
										<td><a th:href="@{/api/book/{id}(id=${book.bookId})}" class="btn btn-primary"><i class="fas fa-marker ml-2"></i></a></td>
										<td><a th:href="@{/api/update/{id}(id=${book.bookId})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a th:href="@{/api/remove-book/{id}(id=${book.bookId})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div th:insert="fragments/footer :: footer"></div> -->
</body>

</html>