<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Search results</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	
</head>
<body>
	<!-- <div th:insert="fragments/header :: header"></div> -->
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${books}" class="container my-5">
					<div class="col-md-12">
						<h2 th:case="null">No record found !!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>ISBN </th>
										<th>Title</th>
										<th>Category</th>
										<th>Publisher</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="book : ${books}">
										<td th:text="${book.isbn}"></td>
										<td th:text="${book.title}"></td>
										<td th:text="${book.category.categoryName}"></td>
										<td th:text="${book.publisher.publisherName}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div th:insert="fragments/footer :: footer"></div> -->
</body>

</html>